Repository Nourimabrouk/Een: changes, and which pre-commit hooks are due for each by the changed paths.
All: unity-equation-validation, consciousness-level-check, mcp-server-validation

Path conditions:
  unity-equation-validation: any of: ^(src|een)/.*\.py$
  consciousness-level-check: any of: ^(src|een)/.*consciousness.*\.py$
  mcp-server-validation: any of: ^een/mcp/.*\.py$

Fix HTML validation errors
  agents.html
  index.html
  metagambit.html
  playground.html
  proofs.html
  publications.html
  research.html
Due: none

feat(viz): add unity torus visualization
  viz/README.md
  viz/pages/unity_torus.py
  viz/plotly_helpers.py
Due: none

feat(ui): add dark mode toggle
  css/style.css
  index.html
  js/main.js
Due: none

To the cloud we go
  BUG_FIXES_SUMMARY.md
  UNITY_PROTOCOL.md
  een_server.py
  fix_dependencies.py
  src/bayesian_statistics.py
  src/core/evolutionary_metagambit.py
  src/meta/unity_masturbate.py
  src/transcendental_unity_theorem.py
  src/utils/utils_helper.py
Due: unity-equation-validation

Unity Agent online
  demonstrate_consciousness_chat_upgrade.py
  src/agents/consciousness_chat_agent.py
  src/agents/consciousness_chat_system.py
  src/agents/recursive_self_play_consciousness.py
Due: unity-equation-validation, consciousness-level-check

Meta Prompt Engineering
  demonstrate_meta_prompt_engineering.py
  docs/META_PROMPT_ENGINEERING_PRINCIPLES.md
  docs/META_PROMPT_ENGINEERING_README.md
  src/meta_prompt_engineering.py
Due: unity-equation-validation

Add recursive unity convergence spawner
  scripts/recursive_unity_convergence.py
Due: none

.
  api/Dockerfile
  api/README.md
  api/__init__.py
  api/docker-compose.yml
  api/env.example
  api/main.py
  api/nginx.conf
  api/routes/__init__.py
  api/routes/agents.py
  api/routes/auth.py
  api/routes/consciousness.py
  api/routes/visualizations.py
  api/security.py
  api/start.sh
  api/test_api.py
  requirements.txt
Due: none

Improves numerical stability of consciousness field
  core/consciousness.py
  core/unity_mathematics.py
  core/vertex_ai_corpus.py
  docs/VERTEX_AI_SETUP.md
  examples/simple_vertex_ai_usage.py
  infrastructure/Deploy-UnityADForest.ps1
  infrastructure/ad_meta_rl_trainer.py
  infrastructure/ad_unity_deployment.py
  infrastructure/gcp_unity_deployment.sh
  infrastructure/unity_ad_dashboard.py
  infrastructure/unity_config_generator.py
  requirements.txt
  scripts/vertex_ai_corpus_demo.py
  test_vertex_ai_integration.py
Due: none

.
  ELEVATION_AND_TRANSCENDENCE_MASTERPLAN.md
  IMPLEMENTATION_ROADMAP.md
  TRANSCENDENCE_SUMMARY.md
  core/unity_mathematics.py
  index.html
  src/dashboards/unity_proof_dashboard.py
Due: unity-equation-validation

new landing page
  core/meta_recursive_agents.py
  core/unity_mathematics.py
  index.html
Due: none

.
  .claude/settings.local.json
  tests/test_unity_mathematics.py
Due: none

update
  README_WEBSITE.md
  index.html
  learn.html
  simple_website_server.py
  website_server.py
Due: none

.
  .claude/settings.local.json
  simple_website_server.py
Due: none

.
  index.html
  simple_website_server.py
  test_website.py
Due: none

.
  .claude/settings.local.json
  google pricing estimate.csv
Due: none

.
  .claude/settings.local.json
Due: none

Unity Manifold included
  .claude/settings.local.json
  core/unity_manifold.py.py
Due: none

.
  .claude/settings.local.json
  core/unity_equation.py
Due: none

.
  google pricing estimate.csv.xlsx
Due: none

new expressions
  google pricing estimate.csv.xlsx
  src/core/unity_manifold.py
  src/meta/consciousness_field.py
  unity_consciousness_experience.html
Due: unity-equation-validation, consciousness-level-check

Add Unity Dashboard page with interactive visualizations
  dashboards/unity.html
Due: none

New visualizations
  consciousness_field_simulation.png
  src/core/unity_manifold.py
  src/meta/consciousness_field.py
  unity_proof_visualization.png
  viz/Figure_1.png
Due: unity-equation-validation, consciousness-level-check

Add Quantum Visualizer page with interactive scatter plot
  dashboards/quantum.html
Due: none

Add Consciousness HUD page with interactive gauges
  dashboards/consciousness.html
Due: none

Create index.html
  dashboards/unity/index.html
Due: none

Add Quantum Visualizer API page with interactive scatter plot
  api/consciousness/field/index.html
Due: none

Add Consciousness HUD API page with interactive gauges
  api/unity/status/index.html
Due: none

unity mandala
  src/core/transcendental_unity_engine.py
Due: unity-equation-validation

unity mandala
  src/core/transcendental_unity_engine.py
  unity_mandala.png
  unity_synthesis.json
  unity_visualization.html
Due: unity-equation-validation

Create einstein_euler.py
  einstein_euler.py
Due: none

.
  HYPERDIMENSIONAL_UNITY_MANIFOLD.py
Due: none

.
  .claude/settings.local.json
  HYPERDIMENSIONAL_UNITY_MANIFOLD.py
Due: none

Expand requirements with advanced AI and research tooling
  requirements.txt
Due: none

feat: Improve website content with formal, rigorous, and academic presentation
  index.html
Due: none

Update index.html
  index.html
Due: none

Add unity meta RL playground
  ml_framework/meta_reinforcement/unity_meta_playground.py
Due: none

viz
  viz/phi_harmonic_unity_manifold.py
  viz/unity_consciousness_field.py
Due: none
